@font-face {
    font-family: Dopestyle;
    src: url(Fonts/Dopestyle.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Im prepping my webpage to be edited manually */

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;   /* the black bar*/
    position: sticky;
    top: 0;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;     /* the white text */
    transition: all .5s ease;
}
.navbar ul li a:hover {
    background-color: #f4dc9c;
    color: #0f017a;                 /* This is the inside when mouse goes over */
    box-shadow: 0 0 10px #1474EC;
}
/* Navbar Completed */

/* Home Section */ 
#home {
    display: flex;
    flex-direction: column;
    background-color: (#3c3c3c, 0, 0, 0.5);
    height: 840px;                  /* "Xiomar Rubalcava" */
    justify-content: center;
    align-items: center;
    color: white
} 
#home::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url('images/imgBluePlaid.jpeg') no-repeat center center/cover;
    height: 900px;
    width: 100%;     /* Background image */
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 30%
}
.headings1 {   /* Also Xiomar Rubalcava */ 
    font-family: century; 
    font-size: 5rem;
    text-align: center;
    margin: 40px 0px;
    background-color: #3c3c3c;
    box-shadow: 0 0 10px #f4dc9c, 0 0 20px #f4dc9c
}
.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #f4dc9c; /* Hire Me */
    color: #0f017a;
    outline: none;
    color: #0f017a;
}
.btn:hover {
    cursor: pointer;
    background-color: #f4dc9c;  /* hire me with curser */
    color: #0f017a;
    box-shadow: 0 0 5px #1474EC, 0 0 10px #1474EC, 0 0 15px #1474EC;
    font-weight: bold;
}

/* About Me */ 
.headings2 {
font-family: century;
font-size: 5rem;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 60px;
}

#pic {
    display: flex;
}

#pic img {
    width: 575px;
    height: 25pc;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* About me Not Finished */

/* every headings needs to be individually fixed */


/* Portfolio Section */

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}